*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Roboto Slab', serif;
    background: url('https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png');
}

a{
    text-decoration: none;
}